# Created by .ignore support plugin (hsz.mobi)
### PHPStorm
*.iml
.idea/

### Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### MacOSX
.DS_STORE

### Custom
build/
src/Assembler9.jar